*{
  margin: 0px;
  padding: 0px;

}

body{
  font-family: 'Gabarito', sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 2px 5px #cba9fe;
  padding: 3px;
  gap: 10px;
  align-items: center;
  padding-bottom: 7px;
}

.navbar__left__logo{
  height: auto;
  width: 80px;
}

.navbar__middle{
  padding: 10px;
  border: solid 1px black;
  border-radius: 20px;
  width: 60%;
  display: flex;
   gap:10px  /*to give gap between flexitems */
}

.navbar__middle input{
  border: none;
  width: 100%;
}

.navbar__middle input:focus{
  outline: none;
}

.navbar__right{
  display: flex;
  gap: 15px;
}

.categories{
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: space-evenly;
  margin-bottom: 7px;
  box-shadow: 1px 2px 5px #cba9fe;
}

.categories p{
  background-color:  #d000ff;
  color: white;
  padding: 4px 15px;
  border-radius: 20px;
}

  /*hover is used to change the style when mouse is over the element */
.categories p:hover{
  cursor: pointer;
  box-shadow: 5px 5px 5px #fd2df6; 
} 

.categories p:active{
  background-color: #3596fd;
  cursor: pointer;
  box-shadow: 5px 5px 5px #4ef6f0; 
}

.sale img{
  width: 100%;
  height: 100%;
}

.recommended{
  padding: 15px;
}

.recommended__container{
  display: flex;
  flex-wrap:wrap;
  margin-top: 10px;
  justify-content: space-evenly;
}

.course_card{
  width: 250px;
  margin-bottom: 10px;
}
.course_card img{
  width: 100%;
  height: 180px;
}

.title-container{
  height: 3.1em; /* to limit the height of the title container */
  overflow: hidden; /*to hide the overflow text */
}

.course_rating_container{
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
  width: 100%;
  align-items: center;
}

.course_rating_container img{
  width: 80px;
  height: 20px;
}

.course_org_price{
  text-decoration: line-through;
  color: #363333;
  margin-left:10px ;
}

.course_options{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.course_enroll{
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  color:white;
  background: linear-gradient(to right, #fd2df6, #990094);
}

.course_Add_To_cart{
  display: flex;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  text-align: center;
  color:black;
  background: linear-gradient(to right, #e8fd2d, #96b302);
}

.course_Add_To_cart img{
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

